<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>friendly baker</title>
</head>
<body>
    <div class="wildflour">
        <center><img class="flour" src="wf.png"></center>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
     <div class="colums">
       <img src="rc.jpg" alt="cookie">
       
     </div> 
     <div class="colums">
       <img src="cc.jpeg" alt="cheesecakes">
       <p> <%= @@Cc %></p>
       <p> <%= @@cp %></p>
       <p> <%= @@Cake %></p>
       <p> <%= @@Cp %></p>
       <p> <%= @@Cc2 %></p>
       <p> <%= @@Cp2 %></p>
       <p> <%= @@Cc3 %></p>
       <p> <%= @@Cp3 %></p>

     </div>
     <div class="colums">
       <img src="bm.jpg" alt="muffins">
     </div>
    </div> 
</body>
<div class="footer">
  
</html>